body{
    color: #333;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    margin: 0;
}

a{
    color: inherit;
}

h1{
    font-weight: 700;
}

p{
    line-height: 22px;
    text-align: justify;
}

ul{

    float: right;
}

ul li{
    display: inline-block;
}

nav ul li a{
    background: #78909c;
    text-decoration: none;
    padding: 20px;
    color: #fafafa;
}

nav ul li a:hover{
    color: #333;
}

.logo{
    width: 100px;
}

section{
    width: 90%;
    margin: 0 auto;
    min-height: 70vh;
}

footer{
    background-color: #263238;
    height: 200px;
    color: #78909c;
}

footer p{
    text-align: right;
    padding: 30px;
}

.card{
    width: 48%;
    margin: 1%;
    float: left;
}